html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.body {
  font-family: 'Karla', sans-serif;
}

.attribution {
  text-align: center;

  font-size: 11px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}